#root {
  margin: 0 auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin: 2rem;
  max-width: 100%;
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.letter {
  flex: 33%;
  height: 5rem;
  width: 5rem;
  border: 0.1rem solid grey;
  margin: 0.2rem;
  display: grid;
  place-items: center;
  font-size: 3rem;
  font-weight: bolder;
  color: black;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: gray;
}

.almost-correct {
  background-color: yellow;
}

.message {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.welcome {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.welcome div {
  margin: 1rem;
}

.welcome div * {
  margin: 0.5rem; 
}

.wordInput * {
  margin: 0 0.3rem;
}

@media screen and (max-width: 600px) {
  .board {
    margin: 2rem;
    max-width: 95%;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .letter {
    flex: 33%;
    height: 3rem;
    width: 3rem;
  }
}